*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(./images/amanhecer.jpg); 
  
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
}

.grid-container{

    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh 30vh 30vh;
    grid-gap: 20px;
    
}

.grid-1{

    color: white;
    font-size: 80px;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;

}

.grid-2{

    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.grid-2 h1{

    color: white;
    font-weight: bold;
    font-size: 100px;
}


.grid-proj{

    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}



